@import './loginForm';
@import './registerForm';

#index {
    width      : 100%;
    height     : 100%;
    display    : grid;
    place-items: center;
    position   : relative;
    overflow   : hidden;



    #loginForm {
        overflow-y: auto;
        overflow-x: hidden;
        @include loginForm;
    }

    #registerForm {
        overflow-y: auto;
        overflow-x: hidden;
        @include registerForm;
    }

    #forgetPasswordForm {
        @include forgetPassword()
    }

}