@mixin loginForm () {
    /* background   : #fff; */
    width          : 90%;
    height         : 100%;
    padding        : 1rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 2rem;

    animation: animateFormLogin .5s ease-in-out backwards;

    @keyframes animateFormLogin {
        0% {
            transform: translateY(-30%);
            opacity  : .1;
        }

        50% {
            opacity: .5;
        }

        100% {
            transform: translateY(0);
            opacity  : 1;
        }
    }

    h4 {
        align-self: center;
        font-size : 2rem;
    }

    .form-group {
        padding-top: .5rem;
        gap        : 0;
        align-items: flex-end;

        span {
            color    : $primaryColor;
            font-size: 1.2rem;
        }

        .form-control {
            padding-left: 0;
            margin-left : .5rem;
        }

        .open-password {
            cursor       : pointer;
            font-size    : 1rem;
            border-bottom: 1px solid $primaryColor;
            color        : lighten($color: $primaryColor, $amount: 10%);
        }

    }

    .formButton {
        display        : flex;
        flex-wrap      : wrap;
        gap            : .5rem;
        justify-content: space-between;

        .btn {
            width: 100%;
            @include transition();

            &:hover {
                background: lighten($color: $primaryColor, $amount: 10%);
            }

            &:focus {
                background: lighten($color: $primaryColor, $amount: 10%);
            }
        }

        a {
            text-decoration: none;
            color          : $primaryColorAlternate;
            font-size      : .8em;
            @include transition();
            outline: none;

            &:hover {
                color: lighten($color: $primaryColor, $amount: 10%);
            }

            &:focus {
                color: lighten($color: $primaryColor, $amount: 10%);
            }
        }

    }

}

@mixin forgetPassword {
    width         : 90%;
    // height    : 20rem;
    padding       : 1rem;
    display       : flex;
    flex-direction: column;
    gap           : 2rem;

    animation: animateFormLogin .5s ease-in-out backwards;

    @keyframes animateFormLogin {
        0% {
            transform: translateY(-30%);
            opacity  : .1;
        }

        50% {
            opacity: .5;
        }

        100% {
            transform: translateY(0);
            opacity  : 1;
        }
    }

    h4 {
        align-self: center;
        font-size : 2rem;
    }

    .form-group {
        padding-top: .5rem;
        gap        : 0;
        align-items: flex-end;

        span {
            color    : $primaryColor;
            font-size: 1.2rem;
        }

        .form-control {
            padding-left: 0;
            margin-left : .5rem;
        }

    }

    .formButton {
        display        : flex;
        flex-wrap      : wrap;
        gap            : .5rem;
        justify-content: space-between;

        .btn {
            width: 100%;
            @include transition();

            &:hover {
                background: lighten($color: $primaryColor, $amount: 10%);
            }

            &:focus {
                background: lighten($color: $primaryColor, $amount: 10%);
            }
        }

    }

}