@import './config';

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

@mixin radius {
    border-radius: $radius;
}

@mixin transition {
    transition: all .5s ease-in-out;
}

$responsiveSize: ('m': 700px, 'l': 900px,
    'xl': 1440px);

@mixin responsiveMedia($width) {
    @media screen and (min-width: map-get($responsiveSize, $width)) {
        @content;
    }
}

body {
    color : $primaryColor;
    width : 100vw;
    height: 100vh;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

%disabledButton {
    cursor: not-allowed;
}

.container {
    width : 80%;
    height: 100%;
    margin: auto;
}

.form-group {
    display    : flex;
    width      : 100%;
    gap        : .5rem;
    align-items: center;
}

.form-control {
    width        : 100%;
    padding      : .2rem .2rem;
    font-size    : 1rem;
    outline      : none;
    border       : none;
    color        : $primaryColor;
    border-bottom: .1rem solid $primaryColor;
}



.btn {
    border         : none;
    outline        : none;
    text-decoration: none;
    padding        : .5rem 1rem;
    cursor         : pointer;
    display        : block;
    background     : $primaryColor;
    color          : $accent;
    @include transition();

    &:hover {
        background: lighten($color: $primaryColor, $amount: 10%);
    }

    &:disabled {
        @extend %disabledButton
    }

}

#about {
    position       : absolute;
    bottom         : .5em;
    left           : .5em;
    height         : 2rem;
    width          : 2rem;
    background     : $primaryColor;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : $accent;
    cursor         : pointer;
    @include transition();
    animation: aboutToggle .5s ease-in-out, liveAboutToggle .5s ease-in-out .5s alternate infinite;
    font-size: .9rem;

    @keyframes aboutToggle {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes liveAboutToggle {
        0% {
            border: 2px solid lighten($color: $primaryColor, $amount: 90%);
        }

        100% {
            border: 5px solid lighten($color: $primaryColor, $amount: 10%);
        }
    }

    &:hover {
        background: lighten($color: $primaryColor, $amount: 10%)
    }
}

.about-content {
    position  : absolute;
    min-height: 5vh;
    width     : 10vw;
    left      : .5rem;
    bottom    : 2rem;
    transform : scale(0);
    transition: all .5s ease-in-out;

    .main {
        position       : absolute;
        background     : $accent;
        box-shadow     : 0 0 4px 2px #00000222;
        min-height     : 30px;
        width          : 300px;
        max-width      : 90vw;
        bottom         : 50%;
        left           : 20%;
        padding        : 1rem;
        border-radius  : $radius;
        display        : flex;
        justify-content: center;
        text-align     : justify;
        gap            : .5rem;
        align-items    : center;
        overflow       : hidden;
        flex-direction : column;

    }



    &.open {
        transform: scale(1);
    }

}


.response {
    width        : 100%;
    font-weight  : bold;
    text-align   : center;
    margin       : .5rem 0;
    padding      : 1rem;
    border-radius: $radius;
    position     : relative;
    color        : $accent;
    animation    : responseAnimation .5s ease-in-out;

    #closeResponse {
        position: absolute;
        top     : .3rem;
        right   : .6rem;
        cursor  : pointer;
    }


    @keyframes responseAnimation {
        0% {
            transform: translateY(-30%);
            opacity  : 0;
        }

        25% {
            opacity: .25;
        }

        75% {
            opacity: .5;
        }

        100% {
            transform: translateY(0);
            opacity  : 1;
        }
    }

}

.response.error {
    background: $error;
}

.response.success {
    background: $success;
}