@import './infoContainer';
@import './profile';

@mixin sidebar {

    position      : relative;
    right         : 0;
    height        : 100vh;
    z-index       : 1;
    width         : 70vw;
    transition    : width .5s ease-in-out;
    display       : flex;
    flex-direction: column;
    overflow      : hidden;

    @include responsiveMedia('m') {
        width     : 40%;
        box-shadow: 0 0 4px 2px #00000022;
    }

    @include responsiveMedia('l') {
        height: 90%;
        width : 30%;
    }


    &.open {
        width     : 75vw !important;
        box-shadow: 0 0 4px 2px #00000022;
    }

    .head {
        color          : $accent;
        background     : $primaryColor;
        height         : 50px;
        display        : flex;
        justify-content: flex-end;
        padding        : .2rem;


        .content {
            display        : flex;
            width          : 100%;
            justify-content: flex-end;
            align-items    : flex-end;
            gap            : .5rem;
            overflow       : hidden;

            img {
                width        : 40px;
                height       : 40px;
                border-radius: 50%;
                overflow     : hidden;
                cursor       : pointer;
            }
        }
    }

    .body {
        height: calc(100% - 30px);

        .info-container {
            @include infoContainer();
        }

        .profile {
            @include profile();
        }

    }


    .calculated {
        height        : 100%;
        width         : 100%;
        display       : flex;
        flex-direction: column;
        font-size     : .8rem;
        gap           : .5rem;

        .head {
            padding        : 0 .4rem;
            height         : 30px;
            display        : flex;
            background     : $primaryColorAlternate;
            gap            : .5rem;
            align-items    : center;
            justify-content: space-between;

            #close {
                cursor: pointer;
            }

            div {
                display    : flex;
                gap        : 2rem;
                align-items: center;
                font-weight: bold;
                font-size  : .75rem;
            }
        }

        table {
            width          : 100%;
            border         : 1px solid $primaryColor;
            border-collapse: collapse;
            max-height     : calc(100% - 30px - .5rem);
            overflow       : auto;
            overflow-x     : hidden;
        }

        td,
        th {
            border : 1px solid $primaryColor;
            padding: .3rem;
        }


    }

}