@import './partials/autoload';
@import "./partials/form";

#login {
    @extend %form;

    form {
        max-width: 100%;
        min-width: auto !important;
    }

    .fields {
        display       : flex !important;
        flex-direction: column !important;
    }

    .short-links {
        display        : flex;
        justify-content: space-between !important;
    }


}