@import './partials/autoload';

#register {
    display    : grid;
    height     : 100%;
    width      : 100%;
    place-items: center;


    form {
        width         : 100%;
        max-width     : 50rem;
        display       : flex;
        flex-direction: column;
        gap           : 2rem;
        align-items   : center;
        padding       : 1rem 0;

        img {
            width : 8rem;
            height: 8rem;
        }

        .fields {
            width  : 100%;
            display: grid;
            gap    : 1.5rem;

            @include responsiveMedia(s) {
                grid-template-columns: repeat(2, 1fr);
            }

            .input-container {
                display       : flex;
                flex-direction: column;
                gap           : .5rem;

                p {
                    margin: 0 !important;
                }

                .response {
                    &__error {
                        color: $error;
                    }

                    &__success {
                        color: $success;
                    }
                }

                .input-field {
                    border       : 1px solid $primaryColor;
                    border-radius: $radius;
                    overflow     : hidden;
                    display      : flex;
                    align-items  : center;
                    background   : #fff;

                    &.error {
                        border: 1px solid $error;

                        input {
                            &::placeholder {
                                color: $error;
                            }
                        }
                    }

                    span {
                        color: $primaryColor;
                        @extend %formFontSize;
                        cursor: pointer;
                        @extend %elementTransition;

                        &:hover {
                            color: darken($color: $primaryColor, $amount: 10%);
                        }
                    }
                }

                input {
                    border: none;
                    @extend %formFontSize;
                    color: $primaryColor;
                }
            }

            .input-form {
                display    : flex;
                align-items: center;
                gap        : 1rem;

                label {
                    @extend %formFontSize;
                }

                .btn-group {
                    label {
                        color: $primaryColor;
                        @extend %elementTransition;

                        &:hover {
                            color     : $accent;
                            background: $primaryColor;
                        }
                    }

                    .btn-check:checked+.btn {
                        color     : $accent;
                        background: $primaryColor;
                    }
                }
            }






            .tail {
                display       : flex;
                flex-direction: column;
                gap           : .3rem;

                @include responsiveMedia(s) {
                    grid-column: 1 /span 2;
                }

                .short-links {
                    display        : flex;
                    justify-content: flex-end;

                    a {
                        font-size: .7rem;
                        color    : $linkColor;
                        @extend %elementTransition;

                        &:hover {
                            color: lighten($color: $linkColor, $amount: 20%);
                        }
                    }
                }

                button {
                    background: $primaryColor;
                    @extend %elementTransition;
                    @extend %formFontSize;

                    &:hover {
                        background: darken($color: $primaryColor, $amount: 10%);
                    }
                }
            }
        }
    }
}