%linkAnimation {
    padding-left: 1rem;
    background  : lighten($color: $primaryColor, $amount: 20%);
    cursor      : pointer;

    &:before {
        opacity: 1;
    }

    .link {
        color: $accent !important;
    }
}

@mixin sidebar {
    height        : 100%;
    background    : $primaryColor;
    display       : flex;
    flex-direction: column;
    gap           : 3rem;
    width         : 0;
    @extend %elementTransition;

    &.open {
        width: 22rem;
    }

    @include responsiveMedia(m) {
        width: 22rem;
    }

    .head {
        padding    : 1rem 3rem;
        display    : flex;
        align-items: center;
        gap        : 1rem;
        width      : max-content;

        img {
            width: 2.5rem;
        }

        h6 {
            margin: 0 !important;
            color : $accent;
        }

    }

    .side-links {
        height        : 100%;
        display       : flex;
        flex-direction: column;
        gap           : 3rem;
        overflow-y    : auto;

        ul {
            @extend %link;
            padding: 0;

            li {
                position: relative;
                @extend %elementTransition;
                padding: .5rem;

                &:before {
                    content: '';
                    @extend %elementTransition;
                    position  : absolute;
                    top       : 0;
                    left      : 0;
                    width     : .3rem;
                    height    : 100%;
                    background: $accent;
                    opacity   : 0;
                }

                &.active {
                    @extend %linkAnimation;
                    border-radius: .5rem;

                    &:hover {
                        border-radius: 0 !important;
                    }
                }

                &:hover {
                    @extend %linkAnimation;
                }

                .link {
                    display    : flex;
                    color      : $accent;
                    align-items: center;
                    gap        : 1rem;
                    font-size  : 1.2rem;
                    width      : max-content;
                    background : none;
                    border     : none;
                    width      : 100%;

                }

            }

            footer {
                color: $accent !important;
            }

            &.top-link {
                height: 80%;
            }
        }
    }
}