$primaryColor   : #4b91c5;
$secondaryColor : #5094c4;
$linkColor      : #0d41ff;
$radius         : .2rem;
$accent         : #ffffff;
$background     : #f9f9f9;
$error          : #ff5355;
$success        : #42af50;